@charset "utf-8";
/* CSS Document */

setlist {
    text-align:center; 
}

song {
    display: block;  
    background-color: #EEF1F5; 
    font-family: Garamond, Arial, Merriweather, Times;
    padding-bottom: 10px;
}

title {
    display: block; 
    font-size: 170%; 
    color: #3B597F; 
    font-weight: bold;
}

artist {
    display: block;
    color: #213247;
    font-size: 120%; 
}

genre {
    display: block;  
    color: #213247;
    font-size: 120%;
}

released {
    display: block;  
    color: #213247;
    font-size: 120%; 
}
